#counterButtonsPlus, #counterButtonsMinus {
  display: inline-block;
}
.item, .itemdetails, .cartitems, .cartitem, .cartfooter, .iteminput, .itemform, .button, .module {box-sizing: border-box;}
.link {text-decoration: none; color: #333333;}
a:hover {
  color: #3f0000;
  cursor: pointer;
}
.removeitem {color: #ccc; margin: 10px;}
input, textarea {-webkit-appearance: none;}

/*********************************/
/* PASTE CUSTOM ABOVE ONLY       */
/* ONLY PASTE WEBFLOW CSS BELOW  */
/*********************************/
body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

.cartitems {
  position: fixed;
  top: 108px;
  right: 0px;
  bottom: 249px;
  z-index: 1000;
  display: block;
  overflow: scroll;
  width: 300px;
  float: right;
  border-left: 1px solid #ddd;
  background-color: #fff;
  box-shadow: -3px 0 2px 0 rgba(0, 0, 0, .1);
}

.cartfooter {
  position: fixed;
  right: 0px;
  bottom: 0px;
  z-index: 1000;
  width: 300px;
  height: 250px;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  background-color: #fff;
  box-shadow: -3px 0 1px 0 rgba(0, 0, 0, .1);
}

.button {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #3f0000;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.button.yes {
  position: relative;
  z-index: 4000;
}

.button.no {
  position: relative;
  z-index: 4000;
  margin-top: 0px;
  margin-bottom: 0px;
}

.item {
  position: relative;
  overflow: auto;
  width: 100vw;
  padding: 20px;
  border-top: 1px solid #ddd;
  cursor: pointer;
}

.itemimage {
  width: 60px;
  height: 60px;
  margin-right: 10px;
  float: left;
  border-radius: 5px;
}

.itemtitle {
  color: #333;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

.itemoverview {
  overflow: auto;
  color: #333;
  text-decoration: none;
}

.itemprice {
  position: absolute;
  top: 22px;
  right: 22px;
  float: right;
  color: #a00;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
}

.itemquantity {
  height: 25px;
  margin: 10px;
  padding-top: 2px;
  padding-bottom: 5px;
  float: left;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #3f0000;
}

.searchbar {
  display: block;
  width: 80%;
  height: 20px;
  margin: 10px auto 20px;
  padding: 8px 12px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(243, 230, 255, .5);
  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, .3);
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.dashboard {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  margin-top: 108px;
}

.logo {
  display: block;
  width: 200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 18px;
  text-align: center;
}

.row {
  clear: both;
}

.itemdescription {
  margin-top: 3px;
  border-radius: 3px;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
}

.itemform {
  overflow: auto;
  width: 100%;
}

.itemdetails {
  position: relative;
  margin-left: 70px;
  color: #333;
}

.selectcafe {
  display: block;
}

.iteminput {
  position: relative;
  width: 100%;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-right: 12px;
  padding-left: 12px;
  border: 1px solid #ddd;
  border-radius: 3px;
  color: #888;
  font-size: 16px;
  font-weight: 300;
}

.quantity {
  width: 25px;
  height: 25px;
  margin: 10px;
  cursor: pointer;
}

.success {
  background-color: transparent;
}

.module {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 3000;
  width: 300px;
  margin-top: -120px;
  margin-left: -150px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}

.notificationtitle {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.notificationtext {
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.notification {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 2000;
  background-color: rgba(0, 0, 0, .7);
}

.confirm {
  display: block;
}

.showorderstatus {
  display: block;
}

.notificationstatustext {
  position: absolute;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.cartitem {
  display: block;
  overflow: auto;
  width: 100%;
  padding: 10px;
  border-top: 1px solid #ddd;
}

.cart {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  overflow: auto;
  background-color: #fff;
}

.iteminfo {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.distance {
  color: #a00;
}

.navimageleft {
  position: fixed;
  left: 20px;
  top: 55px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.radiobutton {
  width: 25px;
  height: 25px;
  margin: 0px 5px 0px 10px;
  float: left;
  cursor: pointer;
}

.togglebuttons {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.radiotext {
  margin-top: 2px;
  float: left;
  color: #3f0000;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.spinner {
  position: absolute;
  left: -18px;
  top: -8px;
}

.notificationstatus {
  position: relative;
  display: block;
  width: 90px;
  height: 120px;
  margin-right: auto;
  margin-left: auto;
}

.navimageright {
  position: fixed;
  top: 55px;
  right: 20px;
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
  .cartitems {
    top: 95px;
    width: 100%;
  }
  .cartfooter {
    width: 100%;
  }
  .item {
    padding: 10px;
  }
  .itemtitle {
    font-size: 18px;
  }
  .itemprice {
    top: 12px;
    right: 12px;
    font-size: 14px;
    line-height: 20px;
  }
  .searchbar {
    display: block;
    width: 70%;
    height: 17px;
    margin: 8px auto 10px;
    font-size: 12px;
  }
  .dashboard {
    margin-top: 95px;
  }
  .itemdescription {
    color: #aaa;
    font-size: 12px;
    line-height: 13px;
    font-weight: 300;
  }
  .itemform {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .searchbarcontainer {
    padding-right: 10px;
    padding-left: 10px;
  }
  .navimageleft {
    left: 10px;
    top: 53px;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  .navimageright {
    top: 53px;
    right: 10px;
    margin-bottom: 10px;
  }
}

@media (max-width: 479px) {
  .module {
    display: block;
    width: 250px;
    margin-top: -180px;
    margin-right: auto;
    margin-left: -125px;
  }
  .cart {
    display: block;
  }
}
